.App {
  text-align: center;
  background-image: url('../img/background.gif');
  min-height: 100vh; 
  --webkit-background-size: 100% 100%;           /* Safari 3.0 */
  -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;           /* Opera 9.5 */
       background-size: 100% 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.mensaje{
  color: white;
  font-size: 1.5rem
}

.link{
  color: white;
}

.link:hover{
  text-decoration: none;
}

@media(max-width:560px){
  .mensaje{
    padding: 10px;
  }

  .App{
    background-image: url('../img/background-responsive.gif');
  }
}